/* css/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.role-active {
  opacity: 100% !important;
  @apply border-b-2 border-custom-gold-3;
}

.splash-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #061c25 100%);
}
